



 .cross {
    color: white;
    background: teal;
    width: 53px;
    height: 62px;
    font-size: 22px;
    text-align: center;
    padding-top: 1px;
    margin-top: 40px;
    margin-left: 69%;
    cursor: pointer;
  }
  .popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 660%;
    position: fixed;
    top: 0;
    display: block;
  }
  
  .pop_content {
    height: 15%;
    width: 420px;
    background: white;
    float: right;
    margin-top: -90px;
  }
  
  .lohead {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    background-color: rgb(16, 132, 126);
  }
  .head > img {
    width: 50%;
    align-self: center;
    padding-top: 30px;
    display: flex;
    background-color: rgb(16, 132, 126);
    height: 60px;
    padding-left: 4%;
  }
  .headright > img {
    margin-left: 250px;
    height: 80px;
    margin-top: -75px;
    width: 171px;
    float: left;
  }
  .login {
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 62%;
    font-size: 19px;
    margin-top: 20px;
    color: rgb(78, 66, 66);
  }
  
  .go {
    margin-top: 30px;
    width: 82%;
    height:45px;
    margin-left: 37px;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    color: white;
    background-color: teal;
    margin-bottom: 15px;
    border: none;
  }
  #entry > input {
    text-align: center;
    width: 81%;
    margin-left: 36px;
    margin-top: 20px;
    font-size: 15px;
    height: 43px;
    border-radius: 5px;
    border: 0.5px solid rgb(75, 74, 74);
  }
  .foot {
    text-align: center;
    font-size: 15px;
    color: rgb(105, 97, 97);
    width: 80%;
    margin-left: 33px;
  }
  .foot > a {
    color: teal;
    font-size: 12px;
  }
  
  .otpflex {
    max-width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
  }
  .otpflex > input {
    width: 20%;
    height: 2.5rem;
    margin: 5%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(136, 151, 162);
  }
  .resendflex {
    max-width: 90%;
    color: rgb(30, 139, 134);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
  .resendflex>p,button{
    cursor: pointer;
  }